* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 100%;
  background: #fff;
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

/*--navbar--*/
header {
  display: flex;
  width: 100%;
  padding-top: 10px;
  background-color: #405777;
}

.logo {
  padding-left: 25px;
  padding-top: 5px;
  color: #fff;
  width: 100%;
}

.main-nav {
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  justify-content: end;
  place-content: right;
  padding-right: 25px;
}

.main-nav li {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  float: right;
}

.main-nav a {
  color: #fff;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #a0adbd;
}

/*-- aboutUsSection --*/
#about {
  background-color: #a0adbd;
}

.aboutText {
  height: 100%;
  display: grid;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #fff;
}

.aboutTheTeamTitle {
  text-align: center;
  padding-top: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
}

.description {
  padding: 15px;
  font-size: 20px;
}

.column {
  padding: 10px;
}

.column img {
  height: 200px;
  width: 300px;
  opacity: 0.6;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.row {
  display: flex;
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
  display: none;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/*-- footer --*/
.footer img {
  height: 300px;
  width: 400px;
}

.footer {
  text-align: center;
  background-color: #405777;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer p {
  padding: 10px 10px;
}

.signUp form {
  padding: 10px 10px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #a0adbd;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.submitButton {
  background-color: #a0adbd;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submitButton:hover {
  background-color: #4f6b92;
}

.emailInput {
  background-color: #fff;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
