* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 100%;
  background: #fff;
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

/*--navbar--*/

header {
  display: flex;
  width: 100%;
  padding-top: 10px;
  background-color: #405777;
}

.logo {
  padding-left: 25px;
  padding-top: 5px;
  color: #fff;
  width: 100%;
}

.main-nav {
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  justify-content: end;
  place-content: right;
  padding-right: 25px;
}

.main-nav li {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  float: right;
}

.main-nav a {
  color: #fff;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #a0adbd;
}

/*-- header --*/
.header {
  height: 100%;
}

#teamPhoto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("/images/2.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.headerText {
  height: 100%;
  display: grid;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #fff;
}

#headerTitle {
  font-size: 60px;
}

#schoolDescription {
  font-size: 20px;
}

/*-- aboutTheTeam --*/
.aboutTheTeam {
  background-color: #a0adbd;
  height: 100%;
}

.aboutTheTeam h1 {
  text-align: center;
  padding: 50px 0px;
  color: #fff;
  text-transform: uppercase;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamImage {
  border: 15px solid #405777;
  border-radius: 4px;
  max-width: 500px;
}

.aboutUsText {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 60px;
}

.image {
  padding-left: 60px;
}

.readMore {
  background-color: #405777;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.readMore:hover {
  background-color: #4f6b92;
}

.readMoreButton {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-- services --*/
* {
  box-sizing: border-box;
}

.servicesTitle {
  text-align: center;
  padding: 50px 0px;
  color: #fff;
  text-transform: uppercase;
  background-color: #a0adbd;
}

.servicesContainer {
  width: 25%;
  float: left;
  padding: 0 10px;
}

.services {
  background-color: #a0adbd;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #405777;
  color: #fff;
  border-radius: 5px;
}

.readMoreServices button {
  background-color: #405777;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.readMoreServices button:hover {
  background-color: #4f6b92;
}

.readMoreServices {
  background-color: #a0adbd;
  display: flex;
  justify-content: center;
}

/*-- gallery --*/
.gallerySection {
  background-color: #a0adbd;
}

.galleryTitle {
  text-align: center;
  padding: 50px 0px;
  color: #fff;
  text-transform: uppercase;
  background-color: #a0adbd;
}

#gallery {
  background-color: #a0adbd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  justify-items: center;
  margin: 0px 40px 0px;
  position: relative;
}

.galleryEffect {
  position: relative;
}

.galleryEffect .photoDescription {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  margin: 3em;
  padding: 0 1em;
  border-right: 4px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.galleryEffect:hover {
  cursor: pointer;
}

.galleryEffect:hover .photoDescription {
  padding: 8px 15px;
  visibility: visible;
  opacity: 1;
}

.galleryEffect:hover img {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 0.3;
}

#gallery img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

/*-- ourTeam --*/
.ourTeamSection {
  background-color: #a0adbd;
}

.ourTeamTitle {
  text-align: center;
  padding: 50px 0px;
  color: #fff;
  text-transform: uppercase;
  background-color: #a0adbd;
}

.responsiveContainer {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.responsiveCell {
  min-height: 75px;
}

.teamCardContainer {
  width: 280px;
  margin: 0 0 40px 0;
}

.teamCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.imgWrapper {
  width: 100%;
}

.memberImg {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 5px solid #405777;
  object-fit: cover;
}

.name {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.position {
  font-size: 25px;
  font-weight: 700;
  color: #405777;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.socialMediaLinks {
  width: 125px;
  display: flex;
  justify-content: center;
}

.seeAllTeam button {
  background-color: #405777;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.seeAllTeam button:hover {
  background-color: #4f6b92;
}

.seeAllTeam {
  background-color: #a0adbd;
  display: flex;
  justify-content: center;
}

/*-- contactUsSection --*/
.contactUsTitle {
  text-align: center;
  padding: 50px 0px;
  color: #fff;
  text-transform: uppercase;
  background-color: #a0adbd;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.submitForm {
  background-color: #405777;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.submitForm:hover {
  background-color: #4f6b92;
}

.container {
  background-color: #a0adbd;
  padding: 20px;
}

/*-- footer --*/
.footer img {
  height: 200px;
  width: 300px;
}
.footer {
  text-align: center;
  background-color: #405777;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer p {
  padding: 10px 10px;
}

.signUp form {
  padding: 10px 10px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #a0adbd;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.submitButton {
  background-color: #a0adbd;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submitButton:hover {
  background-color: #4f6b92;
}

.emailInput {
  background-color: #fff;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
