/*-- services --*/
#services {
  background-color: #a0adbd;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.servicesSectionTitle {
  text-align: center;
  padding: 20px 0px;
  color: #fff;
  text-transform: uppercase;
  background-color: #a0adbd;
  font-size: 50px;
}

.serviceTitle1 {
  text-align: left;
  padding: 20px 0px;
  color: #fff;
  text-transform: uppercase;
  background-color: #a0adbd;
  font-size: 20px;
  margin-left: 20px;
}

.serviceDescription1 {
  padding: 15px;
}

.readMoreServices {
  background-color: #405777;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 20px;
}

.serviceTitle2 {
  text-align: left;
  padding-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  background-color: #a0adbd;
  font-size: 20px;
  margin-left: 20px;
}

.serviceDescription2 {
  padding: 15px;
}
