/*-- aboutUsSection --*/
#about {
  background-color: #a0adbd;
}

.aboutText {
  height: 100%;
  display: grid;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #fff;
}

.aboutTheTeamTitle {
  text-align: center;
  padding-top: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
}

.description {
  padding: 15px;
  font-size: 20px;
}

.column {
  padding: 10px;
}

.column img {
  height: 200px;
  width: 300px;
  opacity: 0.6;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.row {
  display: flex;
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
  display: none;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
