/*--contactUsSections--*/

.contactUsSection {
  background-color: #a0adbd;
}

.contactUsTitle {
  text-align: center;
  padding: 50px 0px;
  color: #fff;
  text-transform: uppercase;
  background-color: #a0adbd;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.submitForm {
  background-color: #405777;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitForm:hover {
  background-color: #4f6b92;
}

.columnForm {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 50px 80px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}
